.input-label {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.custom-input-container {
    margin-bottom: 18px;   
    margin-top: 16px; 
}
